//Primary Text colors
$very-dark-desaturated-blue: hsl(238, 87%, 51%);
$soft-red: hsl(14, 88%, 65%);

// Background gradient:
$soft-violet: rgb(250, 97, 9);
$soft-blue: hsl(236, 81%, 40%);

//Neutral Text colors
$very-dark-grayish-blue: hsl(238, 88%, 6%);
$dark-grayish-blue: hsl(240, 6%, 50%);

//Dividers
$light-grayish-blue: hsl(240, 5%, 91%);
